@mixin text-mixin {
  background: #ffe4e4;
  border-radius: 4px 4px 4px 4px;
  width: 406px;
  height: auto;
  min-height: 42px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: #d72c0d;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

#form-forgotPassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;

  .form-forgotPassword-img {
    .form-forgotPassword-img-logo {
    }
  }

  .forgotPassword-input-container {
    width: 466px;
    height: 224px;
    background-color: #ffffff;
    left: 487px;
    top: 264px;
    margin-top: 30px;

    .forgotPassword-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 20px 30px 20px 30px;
      height: auto;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05),
        0px 1px 2px rgba(0, 0, 0, 0.15);

      h5 {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
      }

      .errorMessage-password {
        @include text-mixin;

        img {
          margin-right: 6px;
        }
        h5 {
          display: flex;
        }

        span {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #2e75b7;
          width: 67px;
          display: block;
          cursor: pointer;
        }
      }

      .successMessage-password {
        @include text-mixin;
        background-color: #0A9D21;
        color: white;
      }

      .input-container {
        .input-container-value {
          width: 406px;
          height: 42px;
          border: 1px solid #d2d5d8;
          border-radius: 8px;
          outline: none;
          padding-left: 12px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-top: 20px;

          &:focus {
            box-shadow: 0px 0px 10px rgba(0, 113, 245, 0.25);
            border: 0.8px solid #458fff;
          }
        }

        .error-email {
          border: 0.8px solid #d82c0d;
          background-color: #ffe4e4;

          &:focus {
            box-shadow: 0px 0px 10px rgba(0, 113, 245, 0.25);
            border: 0.8px solid #458fff;
            background-color: #ffffff;
          }
        }
      }

      .forgotPassword-input-error {
        color: #d72c0d;
        text-align: left;
        margin-top: 5px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
      }

      .forgotPassword-input-btn {
        width: 406px;
        height: 42px;
        border-radius: 8px;
        margin-top: 30px;
        background-color: #edeeef;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #6d7175;
        cursor: pointer;
        user-select: none;
        border: none;
      }
      .buttonload {
        position: relative;
        width: 406px;
        height: 42px;
        background-color: var(--bg-color-primary);
        border-radius: 8px;
        text-align: center;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        margin-top: 30px;
        cursor: pointer;
        border: none;
      }
  
      /* Add a right margin to each icon */
      .buttonload::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 4px solid transparent;
        border-top-color: #ffffff;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
        z-index: 9999;
      }

      .fill-input {
        background-color: var(--bg-color-primary);
        color: white;
      }
    }
  }
}
