#form-resetPassword-container {
  width: 466px;
  height: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-resetPassword-container-img {
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

#form-resetPassword-input {
  width: 100%;
  height: auto;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  .form-resetPassword-input-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

.form-resetPassword-input-container {
  position: relative;

  .form-resetPassword-input-titlePassword {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-default);
    margin-top: 15px;
  }

  .form-resetPassword-input-value {
    width: 406px;
    height: 42px;
    border: 1px solid #d2d5d8;
    border-radius: 8px;
    padding-left: 12px;
    margin-top: 4px;

    &::placeholder {
      color: #8c9196;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    &:focus {
      border: 0.8px solid #458fff;
      box-shadow: 0px 0px 10px rgba(0, 113, 245, 0.25);
      border-radius: 8px;
      outline: none;
    }
  }

  .passwords {
    font-size: 19px;
  }

  .text-recommend {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--text-color-default);
    margin-top: 5px;
  }

  .strong-password {
    position: absolute;
    cursor: pointer;
    top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    right: 14px;
  }
}

.resetPassword-btn-next {
  width: 406px;
  height: 42px;
  border-radius: 8px;
  background-color: #edeeef;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6d7175;
  margin-top: 25px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.fill-input {
  background-color: var(--bg-color-primary);
  color: white;
}

.errorMessage {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #d72c0d;
  margin-top: 5px;
}

.errorMessage-password {
  background: #ffe4e4;
  border-radius: 4px 4px 4px 4px;
  width: 406px;
  height: 42px;
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-left: 14px;
  img{
    margin-right: 5px;
  }
  h3{
    color: #d72c0d;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.successMessage-password {
  background: #ffe4e4;
  border-radius: 4px 8px 8px 4px;
  width: 406px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d72c0d;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
  background-color: #2dfa4f;
  color: white;
}
